*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:  linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./backimageweb.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;

}
.menu{
    height: 70px;
    float: left;
    width: 400px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 27px;
    margin-top: 50px;
    font-size: 15px;
}
ul li a{
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    color: #fff;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    float: left;
    margin-left: 300px;
    height: 50px;
    
    
}
.srch{
    font-family: 'Times New Roman';
    width: 150px;
    height: 20px;
    background: transparent;
    border: 1px solid #ff7200 ;
    margin-top: 13px;
    border-right: ;
    font-size: 15px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    
}
.btn{
    
    width: 102px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200 ;
    margin-top: 13px;
    margin-left: -20px;
    color: #fff;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}  
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 150px;
    float: right;

}
.content h1{
     font-style: normal ;
}